@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.category-aktif {
  background-color: #9e7676;
  color: white;
}

.category-nonAktif {
  background-color: #ceb0b0;
  color: white;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.hasil {
  height: 320px;
}

.overflow-auto::-webkit-scrollbar {
  display: none;
}
